{% extends 'base.html' %}

{% block content %}<p style="font-size:22px;background-color:#dacbd7;font-family:Lobster">This Site provides that anyone can post their blogs by giving them title  which are visible to everyone who has signed up to this Site
    A person who is not signed up and not logged in can only view the posts.But through contact he can give feedback
    to the owner about the site and blogs to the admin of the site who have the rights to delete anyone blogs
    and he could edit and add new blog. So admin can perform crud operations
    on the blogs. So he is basically maintaining the checks.If he found any misconduct of users he is likely to delete that
    user and blogs. All User data is visible to admin. 
</p>
{% endblock %}