{% load staticfiles %}
<html>
    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <a href="{% url 'logout' %}">logout</a>
          {% else %}
            <a href="{% url 'login' %}">login</a>
          {% endif %}
        <title>Pallvi Goel Blog Page</title>
    </head>
    <body>
    
            <div class="page-header">
                        {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    {% endif %}
    <h1><a href="/">Lets Create something Nice And Memorable</a></h1>
            </div>

    <div>
    
    
    </div>
    <div class="content container">
            <div class="row">
            <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
            </div>
            </div>
            </div>
            </div>
        
    </div>
    
    <footer class="footer" id="foot">
            
        <div class="follow">
            <h4>
                <b>Follow us on:</b>
            </h4>
           <h4> github/pallvigoel</h4>
        </div>
        <br>

        <div class="container text-center">
            <a href="https://www.facebook.com">
                <i class="fa fa-facebook-square" style="font-size:24px;color:#3b5998" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkdin.com">
                <i class="fa fa-linkedin-square" style="font-size:24px;color: #0077B5"></i>
            </a>
            <a href="https://plus.google.com/">
                <i class="fa fa-google-plus-square" style="font-size:24px;color: #db4a39"></i>
            </a>
        </div>
    </footer>
    </body>
    </html>
    